<app-header></app-header>
<section class="flex flex-col min-h-screen w-screen">
  <main class="bg-customBlue flex-grow grid grid-cols-[20%_80%]">
    <div class="h-full bg-slate-300 p-4">
      <ul class="space-y-4">
        <li
          routerLink="/quiz-info"
          class="cursor-pointer text-lg font-semibold text-blue-700 hover:underline"
          *ngIf="role == 'admin'"
        >
          Create quiz
        </li>
        <li
          routerLink="/quizes-page"
          class="cursor-pointer text-lg font-semibold text-blue-700 hover:underline"
        >
          See Quizes
        </li>
        <li
          routerLink="/done-quizes"
          class="cursor-pointer text-lg font-semibold text-blue-700 hover:underline"
        >
          See Done Quizes
        </li>
        <li
          routerLink="/made-quizes"
          class="cursor-pointer text-lg font-semibold text-blue-700 hover:underline"
          *ngIf="role == 'admin'"
        >
          Quizes You Made
        </li>
      </ul>
    </div>
    <div class="h-full bg-red-600 p-6 text-white flex flex-col items-center">
      <h1 class="text-2xl font-bold mb-4">LeaderBoard</h1>
      <ul class="space-y-2 text-left w-full pl-8">
        <li *ngFor="let user of users">{{ user.name }}</li>
      </ul>
    </div>
  </main>
</section>
