<app-header></app-header>

<section class="min-h-screen bg-gray-100 py-8">
  <div class="container mx-auto px-4">
    <h1 class="text-3xl font-semibold mb-6">Make Quiz!</h1>

    <form
      [formGroup]="quizForm"
      class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
      (ngSubmit)="onSubmit()"
    >
      <div formArrayName="questions">
        <div
          *ngFor="let pitanje of questions.controls; let i = index"
          [formGroupName]="i"
          class="mb-6"
        >
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="question{{ i }}"
              >Question:</label
            >
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="question{{ i }}"
              type="text"
              formControlName="question"
              placeholder="Enter a question..."
            />
          </div>

          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="points{{ i }}"
              >Points:</label
            >
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="points{{ i }}"
              type="number"
              formControlName="points"
              placeholder="Enter points..."
            />
          </div>

          <div class="mb-4" formArrayName="responses">
            <div
              *ngFor="
                let odgovor of pitanje.get('responses').controls;
                let j = index
              "
              [formGroupName]="j"
            >
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                [for]="'answer' + i + j"
                >Response {{ j + 1 }}:</label
              >
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                [id]="'answer' + i + j"
                type="text"
                placeholder="Enter response..."
                formControlName="text"
              />
              <input class="mr-2" type="checkbox" formControlName="bool" />
              <label [for]="'tacno' + i + j">Tačno</label>
            </div>
          </div>

          <div *ngIf="questions.get('responses').length > 2" class="mb-4">
            <input type="checkbox" formControlName="helpAllowed" />
            <label for="dozvoljenaPomoc">Allow help (50:50)</label>
          </div>

          <button
            class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mb-4"
            type="button"
            (click)="addResponse(i)"
          >
            Add answer
          </button>
        </div>
      </div>

      <div class="flex items-center justify-between">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="button"
          (click)="addQuestion()"
        >
          Add answer
        </button>
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit"
        >
          Save quiz
        </button>
      </div>
    </form>
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      routerLink="/quizes"
    >
      Give up
    </button>
  </div>
</section>
