<app-header></app-header>
<h1 class="text-3xl font-bold mb-4 text-center">Done Quizzes</h1>

<div class="grid grid-cols-4 gap-4 overflow-x-hidden min-w-0 w-screen">
  <div
    class="col-span-3 p-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
  >
    <div
      *ngFor="let quiz of doneQuizes"
      class="bg-white rounded-lg shadow-md p-4 kartica"
    >
      <h2 class="text-lg font-semibold mb-2">{{ quiz.name }}</h2>
      <p
        *ngIf="quizIdsFromDoneQuizes.includes(+quiz.id)"
        class="text-red-500 mb-2"
      >
        Already Done!
      </p>
      <p class="text-gray-700 mb-2">Category: {{ quiz.category }}</p>
      <p class="text-gray-700 mb-2">Difficulty: {{ quiz.difficulty }}</p>
      <p class="text-gray-700 mb-2">Points: {{ quiz.points }}</p>

      <button
        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full"
        routerLink="/quiz-details/{{ quiz.id }}"
      >
        Check Your Results
      </button>
    </div>
  </div>
</div>
<div
  *ngIf="doneQuizes.length == 0"
  class="bg-yellow-100 border border-yellow-400 text-yellow-700 px-4 py-2 text-center rounded-md mb-8"
>
  No quizes done!
</div>
