<div class="container mx-auto px-4 py-8">
  <div class="bg-white rounded-lg shadow-md p-6">
    <h2 class="text-3xl font-bold mb-4">{{ kviz?.ime }}</h2>
    <p class="text-gray-600 mb-2">Kategorija: {{ kviz?.kategorija }}</p>
    <p class="text-gray-600 mb-2">Težina: {{ kviz?.tezina }}</p>
    <p class="text-gray-600 mb-2">Status: {{ kviz?.status }}</p>
    <p class="text-gray-600 mb-4">
      Vreme: {{ kviz?.vreme }} min | Bodovi: {{ kviz?.bodovi }}
    </p>
    <p>Preostalo vreme: {{ formatirajVreme(preostaloVreme) }}</p>

    <div class="question-container bg-white rounded-lg shadow-md p-6 mb-6">
      <h3 class="text-xl font-semibold mb-4">
        Pitanje {{ flag + 1 }}: {{ activePitanje?.tekst }}
      </h3>
      <ul>
        <li *ngFor="let odgovor of activeOdgovori" class="mb-3">
          <button
            (click)="proveriOdgovor(odgovor)"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full text-left"
          >
            {{ odgovor?.tekst }}
          </button>
        </li>
      </ul>
    </div>

    <div class="text-center">
      <p class="text-lg font-semibold mb-4">Bodovi: {{ bodovi }}</p>
      <button
        (click)="onSledecePitanje()"
        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-6 rounded focus:outline-none focus:shadow-outline"
      >
        Sledeće Pitanje
      </button>
      <button
        (click)="fiftyFifty()"
        [disabled]="isFiftyFiftyDisabled()"
        class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-6 rounded focus:outline-none focus:shadow-outline mr-4 disabled:cursor-not-allowed"
      >
        50:50
      </button>
    </div>
  </div>
</div>
<div *ngIf="krajKviza">
  <div
    class="fixed inset-0 flex items-center justify-center z-10 bg-gray-800 bg-opacity-50"
  >
    <div class="max-w-md mx-auto bg-white rounded-lg shadow-lg p-6">
      <h2 class="text-xl font-semibold mb-4">Rezultati</h2>
      <p class="mb-2">Osvojeni bodovi: {{ earnedPoints }}</p>
      <p>Da li ste položili kviz: {{ passed ? "Da" : "Ne" }}</p>
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4"
        routerLink="/quizes-page"
      >
        OK
      </button>
    </div>
  </div>
</div>
