<app-header></app-header>

<div class="container mx-auto px-4 py-8">
  <div class="bg-white rounded-lg shadow-md p-6 mb-8">
    <h2 class="text-3xl font-bold mb-4">{{ user?.name }}</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <p class="text-gray-600">
          <span class="font-semibold">Email:</span>
          {{ user?.email }}
        </p>
        <p class="text-gray-600">
          <span class="font-semibold">Role:</span>
          {{ user?.roles }}
        </p>
        <p class="text-gray-600">
          <span class="font-semibold">Status:</span>
          {{ user?.status }}
        </p>
      </div>
      <div>
        <p class="text-gray-600">
          <span class="font-semibold">Level:</span>
          {{ user?.level }}
        </p>
        <p class="text-gray-600">
          <span class="font-semibold">Points:</span>
          {{ user?.points }}
        </p>
      </div>
      <div class="col-span-2 flex items-center">
        <label for="status" class="block text-sm font-medium mr-2"
          >Change Status:</label
        >
        <select
          id="status"
          name="status"
          class="mt-1 block w-36 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm mr-2"
          [(ngModel)]="selectedStatus"
        >
          <option value="Public">Public</option>
          <option value="Private">Private</option>
        </select>
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="button"
          *ngIf="selectedStatus !== user?.status"
          (click)="saveStatus()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
  <div class="bg-white rounded-lg shadow-md p-6">
    <h1 class="text-3xl font-bold mb-4">Progress</h1>

    <p class="text-gray-600">
      <span class="font-semibold">Quizzes Finished:</span>
      {{ doneQuizesNumber }}
    </p>
    <p class="text-gray-600">
      <span class="font-semibold">Quizzes Started:</span>
      {{ inProgressQuizes }}
    </p>
  </div>
</div>
