<body class="flex flex-col min-h-screen">
  <header class="bg-white h-20 flex justify-between items-center">
    <img src="../assets/images/logo.png" alt="Logo" class="ml-12 h-full" />
    <div class="mr-14 flex items-center">
      <button
        class="p-2 border-2 border-customBlue rounded text-customBlue mr-4"
        routerLink="/login"
      >
        Login
      </button>
      <button
        class="p-2 border-2 border-customBlue rounded text-customBlue"
        routerLink="/signup"
      >
        Signup
      </button>
    </div>
  </header>
  <hr class="border-t-2 border-gray-200" />
  <main class="bg-white flex-grow grid place-items-center">
    <div class="text-center">
      <h1 class="text-4xl font-bold text-customBlue mb-4">
        Izazovite Sebe <br />
        Dostignite Vrh
      </h1>
      <p class="text-lg mb-6">
        Usavršite svoje koderske veštine kroz dinamične izazove. <br />
        Naša platforma nudi priliku da učite kroz iskustvo, takmičite se sa
        kolegama programerima i neprestano unapređujete svoje znanje kroz
        inovativne i stimulativne kvizove.
      </p>
      <button class="p-3 bg-customBlue text-white rounded">
        Započnite Svoju Avanturu
      </button>
    </div>
  </main>
</body>
<section class="py-12 h-80 bg-white text-customBlue">
  <div class="container mx-auto px-6">
    <h2 class="text-3xl text-customBlue font-bold text-center mb-8">
      Ključne Karakteristike
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="p-6 border rounded shadow-lg bg-customYellow">
        <h3 class="text-xl font-semibold mb-4">Interaktivni Kvizovi</h3>
        <p>
          Učestvujte u kvizovima koji su dizajnirani da izazovu i unaprede vaše
          veštine.
        </p>
        <button class="mt-4 w-full bg-customBlue text-white rounded-md py-2">
          Počnite
        </button>
      </div>
      <div class="p-6 border rounded shadow-lg bg-customYellow">
        <h3 class="text-xl font-semibold mb-4">Takmičenja u Realnom Vremenu</h3>
        <p>
          Takmičite se sa kolegama i postignite bolje rezultate kroz zdravu
          konkurenciju.
        </p>
        <button class="mt-4 w-full bg-customBlue text-white rounded-md py-2">
          Počnite
        </button>
      </div>
    </div>
  </div>
</section>

<section class="py-16 bg-customLessYellow">
  <div class="ml-72 px-6">
    <div class="w-3/4">
      <div class="p-6 border rounded shadow-lg text-center bg-customYellow">
        <h2 class="text-3xl font-bold text-center mb-8 text-customBlue">
          Kreirajte Svoj Kviz
        </h2>
        <p class="text-lg text-center mb-8 text-customBlue">
          Autori Kviza mogu da se fokusiraju na svoje interese i treniraju
          određene veštine. <br />
          Izazovite zajednicu. Kreirajte sve, od uobičajenih pitanja za razgovor
          za posao do izazova koji guraju granice vaše kreativnosti.
        </p>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 text-customBlue">
          <div>
            <h3 class="text-xl font-semibold mb-4">Fokus na Interesima</h3>
            <p>Kreirajte kvix koji odražavaju vaše lične interese i strasti.</p>
          </div>
          <div>
            <h3 class="text-xl font-semibold mb-4">Izazov Za Zajednicu</h3>
            <p>Izazovite zajednicu svojim uvidima i razumevanjem koda.</p>
          </div>
          <div>
            <h3 class="text-xl font-semibold mb-4">Kreativni Izazovi</h3>
            <p>Kreirajte izazove koji guraju granice vaše kreativnosti.</p>
          </div>
        </div>
        <button class="mt-4 w-full bg-customBlue text-white rounded-md py-2">
          Počnite
        </button>
      </div>
    </div>
  </div>
</section>

<footer class="bg-customYellow h-20 flex justify-between items-center">
  <p class="ml-12">&copy; 2024 BITQuiz. Sva prava zadržana.</p>

  <img src="../assets/images/logo.png" alt="Logo" class="mr-12 h-full" />
</footer>
