<header
  class="flex flex-wrap justify-between items-center px-8 py-4 shadow-md w-full"
>
  <img src="../assets/images/logo.png" alt="Logo" class="h-16" />
  <ul class="flex space-x-4 md:space-x-8">
    <li class="hover:text-blue-500 cursor-pointer">
      <a (click)="scrollToSection('home')">Home</a>
    </li>
    <li class="hover:text-blue-500 cursor-pointer">
      <a (click)="scrollToSection('about')">About</a>
    </li>
    <li class="hover:text-blue-500 cursor-pointer">
      <a (click)="scrollToSection('connect')">Connect</a>
    </li>
  </ul>
  <div class="flex space-x-2 md:space-x-4 mt-4 md:mt-0">
    <button
      class="px-4 py-2 border-2 border-figmaBlue text-gray-400 rounded hover:bg-figmaBlue hover:text-white"
      routerLink="/signup"
    >
      Sign Up
    </button>
    <button
      class="px-4 py-2 bg-figmaBlue text-white rounded hover:text-gray-400 hover:bg-white hover:border-2 hover:border-figmaBlue"
      routerLink="/login"
    >
      Login
    </button>
  </div>
</header>

<body>
  <div
    class="container mx-auto flex flex-col md:flex-row items-center px-8 md:px-16 py-16 space-y-8 md:space-y-0 md:space-x-8"
    id="home"
  >
    <div class="flex-1">
      <h1 class="text-4xl md:text-7xl font-bold mb-4 text-figmaBlue">
        Challenge yourself <br />
        Aim for the top!
      </h1>
      <h3 class="text-lg md:text-xl mb-6">
        Enhance your coding through dynamic challenges. Our platform offers the
        opportunity to learn through experience, compete with fellow students,
        and continuously improve your knowledge through innovative and
        stimulating quizzes.
      </h3>
      <button
        class="px-6 py-3 bg-figmaBlue text-white rounded hover:bg-blue-500"
        routerLink="/signup"
      >
        Get started!
      </button>
    </div>
    <div class="flex-1">
      <img
        src="../assets/images/HeroPic.png"
        alt="Hero Image"
        class="w-full h-auto"
      />
    </div>
  </div>

  <h1
    class="text-4xl md:text-6xl my-10 px-8 md:px-16 text-customBlue"
    id="about"
  >
    Innovative <br />
    Simple <br />
    Extraordinary
  </h1>

  <div class="container mx-auto px-8 md:px-16 py-24">
    <div
      class="flex flex-col md:flex-row justify-between items-start space-y-8 md:space-y-0 md:space-x-8"
    >
      <div class="flex-1 text-center p-4 bg-white shadow-lg rounded">
        <img
          src="../assets/images/Ilustracija3.png"
          alt="Ilustration 3"
          class="mx-auto mb-4"
        />
        <h2 class="text-2xl font-bold mb-2 text-blue-950">Who We Are</h2>
        <p class="text-gray-600">
          Discover our passion for fostering expertise. We are dedicated to
          providing a dynamic learning environment where enthusiasts and
          learners can thrive. Join us as we explore the limitless possibilities
          of together.
        </p>
      </div>
      <div
        class="flex-1 text-center p-4 bg-white shadow-lg rounded relative md:-top-12"
      >
        <img
          src="../assets/images/ilustracija1.png"
          alt="Ilustration 2"
          class="mx-auto mb-4"
        />
        <h2 class="text-2xl font-bold mb-2 text-blue-950">Why Choose Us</h2>
        <p class="text-gray-600">
          Choose our platform for its engaging challenges, collaborative
          community, and innovative quizzes. Whether you're a beginner or
          seasoned, our resources are designed to continuously enhance your
          skills and passions.
        </p>
      </div>
      <div class="flex-1 text-center p-4 bg-white shadow-lg rounded">
        <img
          src="../assets/images/Ilustracij2.png"
          alt="Ilustration 3"
          class="mx-auto mb-4"
        />
        <h2 class="text-2xl font-bold mb-2 text-blue-950">Our Mission</h2>
        <p class="text-gray-600">
          At our core, we're driven by a mission to empower individuals through
          coding. We aim to inspire and equip learners to exceed their
          potential, fostering a community where knowledge and innovation
          intersect.
        </p>
      </div>
    </div>
  </div>

  <div
    class="container mx-auto flex flex-col md:flex-row items-center px-8 md:px-16 py-16 space-y-8 md:space-y-0 md:space-x-8"
    id="connect"
  >
    <div class="flex-1">
      <h1 class="text-4xl md:text-7xl font-bold mb-4 text-figmaBlue">
        Reach for the Top with Our Engaging Platform
      </h1>
      <h3 class="text-lg md:text-xl mb-6">
        "Refine your abilities with engaging challenges. Join our platform to
        learn by doing, collaborate with peers, and advance your skills through
        interactive and thought-provoking quizzes."
      </h3>
      <button
        class="px-6 py-3 bg-figmaBlue text-white rounded hover:bg-blue-500"
        routerLink="/signup"
      >
        Get started!
      </button>
    </div>
    <div class="flex-1">
      <img
        src="../assets/images/Signature2.avif"
        alt="Hero Image"
        class="w-full h-auto"
      />
    </div>
  </div>
</body>

<footer class="bg-gray-100 py-8 relative mt-28">
  <img
    src="../assets/images/logo2.png"
    alt="Logo"
    class="absolute bottom-0 left-0 h-36"
  />
  <div
    class="container mx-auto flex flex-col md:flex-row items-center justify-around px-8"
  >
    <ul class="flex space-x-4 md:space-x-8 items-center">
      <li class="hover:text-blue-500 cursor-pointer">
        <a (click)="scrollToSection('home')">Home</a>
      </li>
      <li class="hover:text-blue-500 cursor-pointer">
        <a (click)="scrollToSection('about')">About</a>
      </li>
      <li class="hover:text-blue-500 cursor-pointer">
        <a (click)="scrollToSection('connect')">Connect</a>
      </li>
    </ul>
    <p class="text-gray-500 mt-4 md:mt-0">BITConEx All Rights Reserved</p>
  </div>
</footer>
