<app-header></app-header>
<div class="container mx-auto px-4 py-8">
  <div class="bg-white rounded-lg shadow-md p-6">
    <h2 class="text-3xl font-bold mb-4">{{ kviz.ime }}</h2>
    <div class="grid grid-cols-2 gap-4 mb-6">
      <div>
        <p class="text-gray-600">
          <span class="font-semibold">Kategorija:</span> {{ kviz.kategorija }}
        </p>
        <p class="text-gray-600">
          <span class="font-semibold">Težina:</span> {{ kviz.tezina }}
        </p>
        <p class="text-gray-600">
          <span class="font-semibold">Status:</span> {{ kviz.status }}
        </p>
      </div>
      <div>
        <p class="text-gray-600">
          <span class="font-semibold">Vreme:</span> {{ kviz.vreme }} min
        </p>
        <p class="text-gray-600">
          <span class="font-semibold">Bodovi:</span> {{ kviz.bodovi }}
        </p>
        <p class="text-gray-600">
          <span class="font-semibold">Svidjanja:</span> {{ kviz.svidjanja }}
        </p>
        <p class="text-gray-600">
          <span class="font-semibold">Završili:</span> {{ kviz.zavrsili }}
        </p>
      </div>
    </div>
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    >
      Počni Kviz
    </button>
  </div>
</div>
