<app-header></app-header>
<div class="container mx-auto px-4 py-8">
  <div class="bg-white rounded-lg shadow-md p-6">
    <h2 class="text-3xl font-bold mb-4 text-green-700">{{ quiz?.name }}</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
      <div>
        <p *ngIf="isQuizDone" class="text-gray-600">
          <span class="font-semibold text-green-700">Quiz Done</span>
          <span class="font-semibold text-green-700"></span>
        </p>
        <p *ngIf="isQuizDone" class="text-yellow-700">
          Alert: You can play the quiz again but you wont get any rewards for
          it!
        </p>
        <p class="text-gray-600">
          <span class="font-semibold text-green-700">Category:</span>
          {{ quiz?.category }}
        </p>
        <p class="text-gray-600">
          <span class="font-semibold text-green-700">Difficulty:</span>
          {{ quiz?.difficulty }}
        </p>
        <p class="text-gray-600">
          <span class="font-semibold text-green-700">Status:</span>
          {{ quiz?.status }}
        </p>
        <p
          class="text-gray-600 cursor-pointer"
          routerLink="/other-user-details/{{ user?.id }}"
        >
          <span class="font-semibold text-green-700">Author:</span>
          {{ user?.name }}
        </p>
      </div>
      <div>
        <div *ngIf="isQuizDone">
          <p class="text-gray-600">
            <span class="font-semibold text-green-700">Time:</span>
            {{ quiz?.time }} / {{ doneQuize?.timeLeft | timeFormat }} min
          </p>
          <p class="text-gray-600">
            <span class="font-semibold text-green-700">Points:</span>
            {{ quiz?.points }} / {{ quiz?.points }}
          </p>
        </div>
        <div *ngIf="!isQuizDone">
          <p class="text-gray-600">
            <span class="font-semibold text-green-700">Time:</span>
            {{ quiz?.time }} min
          </p>
          <p class="text-gray-600">
            <span class="font-semibold text-green-700">Points:</span>
            {{ quiz?.points }}
          </p>
        </div>

        <p class="text-gray-600">
          <span class="font-semibold text-green-700">Likes:</span>
          {{ quiz?.likes }}
        </p>
        <p class="text-gray-600">
          <span class="font-semibold text-green-700">Finished:</span>
          {{ quiz?.doneIt }}
        </p>
      </div>
    </div>
    <button
      class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      routerLink="/quiz-playing/{{ quiz?.id }}"
      *ngIf="!isThereProgress"
    >
      Start Quiz
    </button>

    <div *ngIf="isThereProgress">
      <button
        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        routerLink="/quiz-playing/{{ quiz.id }}"
      >
        Continue
      </button>
      <p class="text-yellow-700">
        Current question: {{ progressOfQuiz.questionsAnswered + 1 }}
      </p>
      <p class="text-yellow-700">
        Time left: {{ progressOfQuiz?.time | timeFormat }}
      </p>
    </div>
  </div>
  <br />
  <div *ngIf="statusOfQuiz">
    <div
      class="h-full bg-white p-6 text-gray-800 flex flex-col items-center w-full"
    >
      <h1 class="text-2xl font-bold mb-4 text-customBlue">LeaderBoard</h1>
      <ul class="space-y-2 w-full">
        <li
          *ngFor="let user of leaderboard"
          class="flex items-center bg-white p-4 rounded-lg shadow-md hover:bg-gray-100 transition-colors duration-300 cursor-pointer"
          routerLink="/other-user-details/{{ user.userIdForSearch }}"
        >
          <p class="flex-1 font-semibold text-customBlue">
            {{ user.username }}
          </p>
          <p class="w-24 text-center font-semibold text-customBlue">
            {{ user.pointsWon }}
          </p>
          <p class="w-24 text-center font-semibold text-customBlue">
            {{ user.timeLeft | timeFormat }}
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div
    *ngIf="!statusOfQuiz"
    class="bg-yellow-100 border border-yellow-400 text-yellow-700 px-4 py-2 rounded-md mb-8"
  >
    Admin has disabled leaderboard!
  </div>
</div>
