<header class="h-16 w-full bg-white flex justify-between items-center px-6">
  <img
    src="../assets/images/logo.png"
    alt="Logo"
    class="h-full"
    routerLink="/quizes"
  />

  <div class="cursor-pointer flex items-center">
    <img
      src="../assets/images/download.jpg"
      alt="Profile Picture"
      class="mt-2 profileImg"
      routerLink="/user-details/{{ user?.id }}"
    />
    <button
      (click)="onLogout()"
      class="border-2 logout text-yellow-50 p-2 hover-animate ml-2"
    >
      Logout
    </button>
  </div>
</header>
